*{
    margin: 0;
    box-sizing: border-box;
}

#site-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ff6900;
}

.gender-categories{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    align-self: center;
}