*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#site-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6900;
    padding: 0.5rem;
}

.gender-categories{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

i{
    color: white;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-right: 10rem;
}

section{
    margin: 1rem 0 0.5rem 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
}

.img-box{
    width: 446px;
    height: 646px;
    position: relative

}

.top-left{
    background-image: url(/assets/img/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-left:hover{
    background-image: url(/assets/img/1b.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-center{
    background-image: url(/assets/img/2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-center:hover{
    background-image: url(/assets/img/2b.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-right{
    background-image: url(/assets/img/3.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-right:hover{
    background-image: url(/assets/img/3b.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-left{
    background-image: url(/assets/img/4.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-left:hover{
    background-image: url(/assets/img/4b.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-center{
    background-image: url(/assets/img/5.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-center:hover{
    background-image: url(/assets/img/5b.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-right{
    background-image: url(/assets/img/6.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-right:hover{
    background-image: url(/assets/img/6b.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.discount{
    position: absolute;
    background-color: red;
    padding: 3px 5px;
    color: white;
    bottom: 5%;
}

.sustainability{
    position: absolute;
    background-color: green;
    color: white;
    padding: 3px 5px;
    bottom: 5%;
    left: 11%;
}

.heart{
    position: absolute;
    background-color: lightgray;
    padding: 0.7rem;
    top: 2%;
    right: 0;
    font-size: 1.7rem;
}

.last-bottom-right{
    left: 0;
}

.price-type{
    display: flex;
    justify-content: center;
    column-gap: 20rem;
    margin-bottom: 1rem;
    text-align: center;
}

.price{
    color: red;
}

.ex-price{
    text-decoration: line-through;
}


footer{
    display: flex;
    background-color: #1a1a1a;
    justify-content: space-around;
    color: white;
    padding: 3rem 0;
}

h3{
    margin-bottom: 1rem;
}

#bottom-text{
    margin-bottom: 1rem;
}

